<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.ArticleTypeMapper">

    <sql id="requestAllFields">
        <![CDATA[
            id,
            typeName
        ]]>
    </sql>


    <select id="getArticleType" resultType="com.blog.bean.ArticleType">
        SELECT
        <include refid="requestAllFields"/>
        FROM
        tb_article_type
    </select>



</mapper>