<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.ArticleMapper">

    <sql id="requestAllFields">
        <![CDATA[
            id,
            title,
            content,
            createdTime,
            typeId
        ]]>
    </sql>


    <select id="getArticleByType" parameterType="com.blog.param.GetArticleParam" resultType="com.blog.bean.Article">
        SELECT
        <include refid="requestAllFields"/>
        FROM
        tb_article

        <where>
            <if test="null!=typeId">typeId = #{typeId}</if>
            <if test="null!=status">AND status = #{status}</if>
        </where>


    </select>



</mapper>