<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.BookMapper">

    <sql id="requestAllFields">
        <![CDATA[
            id,
          bookName,
          pageNum,
          alreadyReadNum,
          img,
          startDate,
          author
        ]]>
    </sql>
    <sql id="requestAllFieldsLog">
        <![CDATA[
            id,
          bookId,
          readNum,
          readDate
        ]]>
    </sql>


    <select id="getBooks"  resultType="com.blog.bean.Book">
        SELECT
        <include refid="requestAllFields"/>
        ,
        100*alreadyReadNum/pageNum progress
        FROM
        tb_book
        <where>
            <if test="null!=id">id = #{id}</if>
        </where>

    </select>

    <insert id="addBook" parameterType="com.blog.param.AddBookParam">
        INSERT INTO tb_book(bookName,pageNum,alreadyReadNum,startDate,author) values(#{bookName},#{pageNum},#{alreadyReadNum},#{startDate},#{author})
    </insert>

    <insert id="addBookReadLog" parameterType="com.blog.param.AddReadLogParam">
        INSERT INTO tb_bookread_log(bookId,readNum,readDate) values(#{bookId},#{readNum},#{readDate})
    </insert>

    <update id="addAlreadyReadNum" parameterType="com.blog.param.AddReadLogParam">
        UPDATE tb_book SET alreadyReadNum=alreadyReadNum+#{readNum}
        WHERE alreadyReadNum IN ( SELECT a.alreadyReadNum FROM (SELECT a.alreadyReadNum FROM tb_book a WHERE id=#{bookId})a) AND id=#{bookId}
    </update>
    <select id="getReadStatistics" parameterType="com.blog.param.GetReadStatisticsParam" resultType="java.lang.Integer">
        SELECT SUM(readNum) FROM tb_bookread_log WHERE readDate BETWEEN #{startTime} and #{finishTime}
    </select>
    <select id="getRecentRead" resultType="com.blog.bean.Book">
        SELECT * FROM tb_book WHERE id in(SELECT a.bookId FROM (SELECT * FROM tb_bookread_log ORDER BY readDate DESC LIMIT 1)a);
    </select>


    <select id="getRecentBook" resultType="com.blog.bean.Book">
        SELECT * FROM tb_book   order by startDate DESC LIMIT 1 ;
    </select>

</mapper>